:root {
  --Cyan: hsl(179, 62%, 43%);
  --Light-cyan: hsl(179, 61%, 49%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --blanco: #ffffff;
  --gris: #e6e6e6;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: var(--Light-Gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos Contenido principal */
.contenido-principal {
  border-radius: 0.9rem;
  max-width: 40rem;
  margin: auto;
  margin-top: 4rem;
  overflow: hidden;
}

/* Estilos Seccion comunidad */

.comunidad {
  padding: 2rem;
  background-color: var(--blanco);
}

.comunidad h1 {
  color: var(--Cyan);
  font-size: 24px;
  font-weight: 700;
}

.comunidad h2 {
  color: var(--Bright-Yellow);
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 700;
}

.comunidad p {
  color: var(--Grayish-Blue);
  margin-top: 1rem;
}

/* Estilos Seccion susbcripcion */

.subscripcion {
  background-color: var(--Cyan);
  padding: 2rem;
}

.subscripcion h2 {
  color: var(--Light-Gray);
  font-weight: 400;
}

.subscripcion .price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--blanco);
  font-size: 28px;
}

.subscripcion .price span {
  color: var(--Light-cyan);
  font-weight: 400;
  font-size: 16px;
}

.subscripcion p {
  color: var(--Light-Gray);
  margin-bottom: 3rem;
}

/* Estilos Seccion motivos */

.motivos {
  background-color: var(--Light-cyan);
  padding: 2rem;
}

.motivos ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

.motivos ul li {
  color: var(--gris);
  font-weight: 400;
}

.motivos h3 {
  color: var(--blanco);
}

/* Estilos botones */

.boton {
  background-color: var(--Bright-Yellow);
  color: var(--Light-Gray);
  text-decoration: none;
  padding: 1.8rem 6rem;
  border-radius: 0.5rem;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

/* Responsive */

@media (min-width: 980px) {
  .contenido-principal {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: auto;
  }

  .categorias {
    display: flex;
    flex-direction: row;
    width: 100rem;
  }
  .comunidad {
    padding: 5rem;
  }
  .subscripcion {
    padding: 5rem;
    width: 50rem;
  }
  .motivos {
    padding: 5rem;
    width: 50rem;
  }

  .comunidad h1 {
    font-size: 32px;
  }

  .comunidad h2 {
    font-size: 28px;
  }

  .subscripcion .price {
    font-size: 36px;
  }

  .boton {
    padding: 1.8rem 8rem;
  }
}

